:root {
  --main-color: [#212121];
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}

.main-news {
  width: 696px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  background: #2f303a;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 1600px;
  height: 600px;
}

button {
  font-family: inherit;
  width: 121px;
  height: 38px;
}
.button-primary {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
}
.button-secondary {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 121px;
  height: 38px;

  background: #2196f3;
  cursor: pointer;
}
.button:hover {
  cursor: pointer;
  background: #2196f3;
}
.main-item {
  width: 135px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-item2 {
  width: 135px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #757575;
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
.blue {
  color: #2196f3;
}
.main-item3 {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.main-item4 {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}
.button:active {
  color: blue;
}
.link {
  width: 53px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.link a {
  color: #212121;
  text-decoration: none;
}
.link a:hover {
  color: #2196f3;
}

.contacts {
  color: #ffffff;
}
.contacts a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.info a {
  width: 110px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.info a:hover {
  color: #2196f3;
}
.main-item5 {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
}
.main-item6 {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-item8 {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-item9 {
  width: 130px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-item10 {
  width: 352px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.27em;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-item11 {
  width: 322px;
  height: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
}
.list-item {
  width: 322px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-item12 {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-item13 {
  width: 1600px;
  height: 648px;

  background: #f5f4fa;
}
.main-item14 {
  width: 72px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;

  color: #212121;
}
