body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}
.main-news {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35em;
}
button {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
}
